h1 {
    justify-content: center;
    height: center ;
    width: center;  
}
main 
    {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: black;
    display: flex;
    justify-content: center; align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    
    
    }
    
    .card {background-color: antiquewhite;
        color-scheme: blue;
    display: flex ;
    flex-wrap: wrap ;
    border: 1px solid #0c0c0c;
    gap: 20px;
    padding: 30px;
    width: 250px;
    box-shadow: 0 2px 5px black;
    text-align: center;

    }

    .card a {
        text-decoration: none;
        color: blue;
    }
    
    .box {
    width: 150px; height: 150px;
    display: flex;
    justify-content: center;
    align-items: left; color: #0c0c0c;
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
    border: black;
    
    }
    
    .box1 {
            background-size: 100px;
            font-size: medium;
            border: red;
            width: 60px;
            height: 80px;
    }

    .box2 {background-image: url(polgan.jpg);
            background-position: center;
            background-size: cover;
    }
    
    .box3 {background: url(polgan.jpg);
            background-position: right;
            background-size: cover;
    }
    
    
